.beams-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  inset: 0;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  background: transparent;
  z-index: 0;
  pointer-events: none;
}
