.marquee-benefits-mobile {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  height: 2.5rem;
  display: block;
  /* El carrusel sobresale a ambos lados */
}


/* Overlays de blur eliminados, solo fade en el contenido */




.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 2.5rem;
}

.marquee-track {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  align-items: center;
  will-change: transform;
  /* Fade solo al contenido, no al fondo */
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}



@media (min-width: 640px) {
  .marquee-benefits-mobile {
    display: none;
  }
}
