.marquee-benefits-mobile {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 2.5rem;
  display: block;
}




.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 2.5rem;
}

.marquee-track {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  align-items: center;
  will-change: transform;
}



@media (min-width: 640px) {
  .marquee-benefits-mobile {
    display: none;
  }
}
